# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
*.xcodeproj/
*.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage / fastlane
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
.DS_Store

# Lattice build artifacts
Lattice.app/
Lattice-*.zip
